.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 18px 20px 18px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
